# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
.venv/

# -------------------------
# PyInstaller
# -------------------------
build/
dist/
*.spec

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS / Editor noise
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Test / temp files
# -------------------------
*.tmp
*.bak
*.swp

# -------------------------
# Generated documents
# -------------------------
*.pdf
